@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Bold.woff") format("woff"), url("../fonts/Lora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1110px;
  margin: 0px auto;
}

._title {
  font-family: 'Lora';
  font-weight: 700;
  color: #10375c;
}

._text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #222831;
  text-align: center;
}

._title__info {
  font-size: 32px;
  line-height: 41px;
  color: #10375C;
  margin: 0px 0px 8px 0px;
}

._subtitle__info {
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.header {
  margin: 61px 0px 94px 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__logo {
  margin: 0px 184px 0px 0px;
}

.header__text {
  font-family: 'PlayfairDisplay';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #10375c;
}

.menu {
  font-size: 0;
  margin: 0px 81px 0px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin: 0px 40px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  font-size: 16px;
  font-weight: 700;
  color: #222831;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__auth,
.button__register {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.button__auth:hover,
.button__register:hover {
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.button__auth:hover .button__link,
.button__register:hover .button__link {
  color: #fff;
}

.button__auth {
  width: 92px;
}

.button__register {
  width: 103px;
}

.button__link {
  color: #ff5722;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 50px 0px;
}

.head__title {
  width: 667px;
  font-size: 52px;
  line-height: 67px;
}

.head__title span {
  color: #dd2c00;
}

.head__subtitle {
  width: 382px;
  font-size: 20px;
  line-height: 30px;
  color: #6a6a6a;
  padding: 15px 0px 0px 0px;
}

.spaces {
  margin: 0px 0px 100px 0px;
}

.spaces__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 56px 0px;
}

.spaces__title {
  font-size: 40px;
  line-height: 51px;
  margin: 0px 164px 0px 0px;
}

.spaces__subtitle {
  width: 452px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #9a9a9a;
}

.spaces__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.spaces__column {
  padding: 0px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

.content-1-spaces__image {
  margin: 0px 0px 25px 0px;
  position: relative;
}

._no-webp .content-1-spaces__image::after {
  background: url("../img/space_1_button.png"); }

.content-1-spaces__image::after {
  content: '';
  width: 72px;
  height: 72px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content-2-spaces {
  color: #fff;
  background: #10375c;
  height: 468px;
  position: relative;
  text-align: center;
  padding: 141px 42px 0px 55px;
}

._no-webp .content-2-spaces::after {
  background: url("../img/space_2_button.png"); }

.content-2-spaces::after {
  content: '';
  width: 255px;
  height: 70.79px;
  position: absolute;
  bottom: 0;
  left: 0;
}

._no-webp .content-2-spaces::before {
  background: url("../img/stripes.png"); }

.content-2-spaces::before {
  content: '';
  width: 90px;
  height: 90px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.content-2-spaces__title {
  font-size: 32px;
  line-height: 41px;
  font-family: 'Lora';
  margin: 0px 0px 14px 0px;
}

.content-2-spaces__subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  width: 253px;
}

.content-3-spaces__image {
  position: relative;
  margin: 0px 0px 25px 0px;
}

._no-webp .content-3-spaces__image::after {
  background: url("../img/space_1_button.png"); }

.content-3-spaces__image::after {
  content: '';
  width: 72px;
  height: 72px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.workspace {
  margin: 0px 0px 100px 0px;
}

.workspace__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 421px;
}

.stat-workspace__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 36px 71px 0px 0px;
  height: 353px;
  width: 499px;
}

.stat-workspace__column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 117px 0px 0px;
}

.stat-workspace__rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat-workspace__countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat-workspace__startup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat-workspace__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stat-workspace__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat-workspace__internet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat-workspace__communities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rooms__img {
  margin: 0px 24px 0px 0px;
}

.countries__img {
  margin: 0px 24px 0px 0px;
}

.startup__img {
  margin: 0px 24px 0px 0px;
}

.event__img {
  margin: 0px 24px 0px 0px;
}

.internet__img {
  margin: 0px 24px 0px 0px;
}

.communities__img {
  margin: 0px 24px 0px 0px;
}

.about-workspace {
  background: #10375C;
  color: #fff;
  width: 540px;
  height: 421px;
  padding: 54px;
}

.about-workspace__subtitle {
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 8px 0px;
}

.about-workspace__title {
  font-family: 'Lora';
  font-size: 40px;
  line-height: 51px;
  font-weight: 700;
  margin: 0px 0px 24px 0px;
}

.about-workspace__text {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Lato';
}

._webp .content-1-spaces__image::after { background: url(../img/space_1_button.webp); }

._webp .content-2-spaces::after { background: url(../img/space_2_button.webp); }

._webp .content-2-spaces::before { background: url(../img/stripes.webp); }

._webp .content-3-spaces__image::after { background: url(../img/space_1_button.webp); }